%h1 Modification du profil
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  - if resource.errors.any?
    - resource.errors.full_messages.each do |msg|
      :javascript
        toastr.error("#{msg}");
  .row
    .field.small-12.large-6.columns
      = f.text_field :name, label: 'Prénom'
    .field.small-12.large-6.columns
      = f.text_field :surname, label: 'Nom'
  .row
    .field.small-12.large-6.columns
      = f.number_field :promo, in:2000..Time.now.year+3, step:1, label: 'Promotion'
    .field.small-12.large-6.columns
      = f.telephone_field :phone, label: 'Téléphone'
  .row
    .field.small-12.large-12.columns
      %br/
      = f.email_field :email, autofocus: true, label: 'E-Mails'
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
  .row
    .field.small-12.large-6.columns#add-pass-validation
      %br/
      = f.password_field :password, autocomplete: "off", label: 'Nouveau mot de passe'
      %i (laisser blanc si vous ne souhaitez pas le changer)
    .field.small-12.large-6.columns
      %br/
      = f.password_field :password_confirmation, autocomplete: "off", label: 'Confirmation'
  .row
    .field.small-12.large-12.columns
      %br/
      = f.password_field :current_password, autocomplete: "off", label: 'Ancien mot de passe'
      %i (merci de le remplir pour confirmer le changement)

  .actions
    = f.submit "Update"

:javascript
  $("#add-pass-validation").find("#user_password").pwstrength({
    minChar:8,
  });
