%h1.text-center Liste des collocations
:javascript
  locations = Array();

.row#list-collocs
  #google-map.small-12
  .pagination_container.small-12
    = will_paginate @collocs, renderer: FoundationPagination::Rails
  - @collocs.each_slice(3) do |t_colloc|
    .row{"data-equalizer" => "", "data-equalizer-mq"=>"medium-up"}
      - t_colloc.each do |colloc|
        .small-12.medium-4.column
          %ul.pricing-table
            %div{"data-equalizer-watch" => ""}
              %li.title #{colloc.titre}
              %li.price #{colloc.price} €/mois
              %li.description #{colloc.adresse}
              %li.bullet-item #{colloc.size} m²
              %li.bullet-item #{colloc.chambres} chambres
              %li.bullet-item Pour #{colloc.max_people} personnes max
            %li.cta-button
              = link_to "Voir", colloc, {:class=> "button white-text floor"}
  .pagination_container.small-12.end.columns
    = will_paginate @collocs, renderer: FoundationPagination::Rails
- @all_collocs.each do |colloc|
  :javascript
    loc = Object();
    loc.id = #{colloc.id};
    loc.lat = #{colloc.latitude};
    loc.long = #{colloc.longitude};
    loc.price = #{colloc.price};
    loc.max_people = #{colloc.max_people};
    loc.name = "#{colloc.titre}";
    loc.path = "#{colloc_path(colloc.id)}"
    locations.push(loc);

:javascript
  $(function(){
    initMap();
    placeAllPoints();
  });
