- if ! notice.nil?
  :javascript
    toastr.success("#{notice}");

%h1
  #{@colloc.titre}
  %small
    Par #{@colloc.user.name} #{@colloc.user.surname}
.row{"data-equalizer" => "", "data-equalizer-mq"=>"medium-up"}
  .columns.small-12.medium-6
    %ul.pricing-table{"data-equalizer-watch" => ""}
      %li.title #{@colloc.titre}
      %li.price #{@colloc.price} €/mois
      %li.bullet-item #{@colloc.adresse}
      %li.bullet-item #{@colloc.size} m²
      %li.bullet-item #{@colloc.chambres} chambres
      %li.bullet-item Pour #{@colloc.max_people} personnes max
  .columns.small-12.medium-6#google-map{"data-equalizer-watch" => ""}


:javascript
  locations = Array();
  loc = Object();
  loc.id = #{@colloc.id};
  loc.lat = #{@colloc.latitude};
  loc.long = #{@colloc.longitude};
  loc.price = #{@colloc.price};
  loc.max_people = #{@colloc.max_people};
  loc.name = "#{@colloc.titre}";
  loc.path = "#{colloc_path(@colloc.id)}"
  locations.push(loc);
  $(function(){
    initMap();
    placeAllPoints();
  });

= link_to 'Edit', edit_colloc_path(@colloc)
\|
= link_to 'Back', collocs_path
