%h1 Recherche
.row{"data-equalizer" => "", "data-equalizer-mq"=>"medium-up"}
  #google-map.high.large-6.columns{"data-equalizer-watch" => ""}
  .large-6.columns{"data-equalizer-watch" => ""}
    .sliders
      %h4 Prix :
      #price.search-slider
      %p.label-slider
        Entre
        %span#price-slider-min
        et
        %span#price-slider-max
      %h4 Taille :
      #size.search-slider
      %p.label-slider
        Entre
        %span#size-slider-min
        et
        %span#size-slider-max
      %h4 Nombre de collocataires :
      #max_people.search-slider
      %p.label-slider
        Entre
        %span#people-slider-min
        et
        %span#people-slider-max
        personnes
      %h4 Zone :
      #dist.search-slider
      %p.label-slider.no-margin-bottom
        Dans un rayon de
        %span#dist-slider
        km
      .row.collapse
        %label
          Autour de :
        .small-10.columns
          %input#start_point{"type"=>"text"}
        .small-2.columns
          .postfix.button
            .fi-compass.medium#my-location

%h1 Résultats
#search-results

:javascript
  locations = Array();
  json_search_url="#{json_search_path}"
  $(function(){
    initMap();
    placeAllPoints();
  });
  setupSearchUI(#{@price_min},#{@price_max},#{@size_min},#{@size_max},#{@people_min},#{@people_max});
